.search {
  border: 2px solid #DE0;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width:250;
}
.search button{
color:blue;
float:right;
}
#searchEngine{
margin-left:400px;
}
#searchEngine input{
height:60px;
width: 324px;
margin-top: 20px;
}
.search{
Color:red;
width:300px;
}
#registerDiv {
	font-size:20px;
	padding:5px;
}
#registerDiv input {
	font-size:20px;
    margin-right: 20px;
	margin-bottom:20px;
}
#registerDiv button {
	color:blue;
	height:50px;
	width: 100px;
	font-size:20px;
	margin-left:20px;
	border:solid yellow;
}

#loginDiv{
	padding:5px;
}
#loginDiv input{
	margin-top:20px;
	font-size:20px;
	margin-bottom: 20px;
	margin-right: 20px;	
}
#loginDiv button{
	height:50px;
	width: 100px;
	color:blue;
	font-size:20px;
	margin-bottom: 20px;
	border:solid yellow;
}	
#butt button:hover {
  background-color: orange;
  color: white;
}